<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Database</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>

    <div class="search">
      <img src='/logo.png'>
      <form action="movie_list">
        <div class="search-box">
          <input type="text" name="movies" placeholder="Find movies, TV shows and more..">
          <button class="bttn_search">&#128269;</button>
        </div>
      </form>
    </div>

</body>
</html>